@use '../abstracts' as *;

.audio {
    width: 90%;
    margin: 0 auto;
    overflow: auto;

    &__list {
        list-style: none;
        display: flex;
        gap: 3rem;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2.5rem 0;

        & > li {
            margin-bottom: 1.2rem;
        }
    }
}
