@use '../abstracts' as *;

.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 3.2rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__particle-container {
        position: absolute;
        z-index: -2;
        inset: 0;
    }

    &__graphic-bg {
        position: absolute;
        z-index: -1;
        inset: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__content {
        width: 90%;
    
        .hero__subhead {
            text-align: center;
            margin-bottom: .4rem;
        }
    }
}

@media (max-width: 768px) {
    #tsparticles > canvas {
        min-height: 25rem;
    }
}
