@use '../abstracts' as *;

.nav {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: $clr-mantle;
    padding: .7rem;

    &__logo {
        margin-left: .8rem;
        position: absolute;
        font-size: 2rem;
        color: $clr-surface-2;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1.2rem;

        .nav__link > a {
            cursor: pointer;
            font-size: 1.5rem;
            color: $clr-text-primary;
            text-decoration: none;
            opacity: 1;
        }

        .active-link {
            opacity: .6 !important;
        }
        
    }
}
