@use '../abstracts' as *;

.nav {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: $clr-mantle;
    padding: .7rem;
    z-index: 1;

    &__logo {
        margin-left: .8rem;
        position: absolute;
        font-size: 2rem;
        color: $clr-surface-2;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1.2rem;

        .nav__link {
            cursor: pointer;
            font-size: 1.5rem;
            color: $clr-subtext-0;
            text-decoration: none;

            &--active {
                color: $clr-lavender;
            }
        }
    }
}

@media (hover: hover) {
    .nav__link {
        transition: color .2s ease;

        &:is(:hover,:focus) {
            color: $clr-lavender;
        }
    }
}
