@use '../abstracts' as *;

.loading-spinner {
    position: relative;
    font-size: 3.3rem;
    color: $clr-lavender;
    padding: 1.2rem;
    animation: spin 1.2s ease-in-out infinite;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
