$clr-rosewater: #f5e0dc;
$clr-flamingo: #f2cdcd;
$clr-pink: #f5c2e7;
$clr-mauve: #cba6f7;
$clr-red: #f38ba8;
$clr-maroon: #eba0ac;
$clr-peach: #fab387;
$clr-yellow: #f9e2af;
$clr-green: #a6e3a1;
$clr-teal: #94e2d5;
$clr-sky: #89dceb;
$clr-sapphire: #74c7ec;
$clr-blue: #89b4fa;
$clr-lavender: #b4befe;
$clr-text-primary: #cdd6f4;
$clr-subtext-1: #cdd6f4;
$clr-subtext-0: #a6adc8;
$clr-overlay-2: #9399b2;
$clr-overlay-1: #7f849c;
$clr-overlay-0: #6c7086;
$clr-surface-2: #585b70;
$clr-surface-1: #45475a;
$clr-surface-0: #313244;
$clr-base: #1e1e2e;
$clr-mantle: #181825;
$clr-crust: #11111b;

$ff-primary: "Lato", serif;
$fw-thin: 100;
$fw-regular: 400;
$fw-bold: 700;
$fs-regular: normal;
