@use '../abstracts' as *;

.about {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__description {
        margin: 2.2rem 0;
        width: 80%;

        .about__text {
            margin-bottom: 1.2rem;
        }
    }

    &__links {
        width: 80%;

        .about__credits-text {
            margin-bottom: .8rem;
        }

        .about__github {
            margin-bottom: 1rem;
        }

        .about__credits-list {
            margin-bottom: 2.5rem;

            & > li {
                margin-left: 1.8rem;
                margin-bottom: .5rem;
                padding-left: .3rem;
                line-height: 1.8rem;

                & > a {
                    word-wrap: break-word;
                    font-size: 1.3rem;
                }
            }
        }
    }
}
