@use '../abstracts' as *;

.not-found {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 4rem 0;
    align-items: center;

    &__icon {
        padding: 0 1.2rem;
    }

    &__link {
        font-size: 2rem;
    }
}
