@use '../abstracts' as *;

:root {
    --toastify-color-light: #{$clr-surface-1};
    --toastify-color-success: #{$clr-green};
    --toastify-color-error: #{$clr-red};
    --toastify-font-family: #{$ff-primary};
    --toastify-text-color-light: #{$clr-text-primary};
}

body {
    background-color: $clr-base;
}

img {
    width: 100%;
    height: auto;
}

a {
    cursor: pointer;
    color: $clr-blue;
    transition: color .2s ease;

    &:is(:hover, :focus) {
        color: $clr-mauve;
    }
}

.btn-pill {
    cursor: pointer;
    min-width: 15rem;
    padding: .9em 1.2em;
    margin: .8em 0;
    font-family: $ff-primary;
    font-size: 1.3rem;
    font-weight: $fw-bold;
    text-align: center;
    color: $clr-lavender;
    background-color: $clr-surface-0;
    border: 1px solid transparent;
    border-radius: 2rem;
    transition: background-color .2s ease-out;
}

.error-message {
    display: inline-block;
    font-size: 1.4rem;
    color: $clr-red;
    text-align: center;
}

@media (hover: hover) {
    .btn-pill:is(:hover,:focus) {
        background-color: $clr-surface-2;
    }
}