@use '../abstracts' as *;

body {
    background-color: $clr-base;
}

img {
    width: 100%;
    height: auto;
}

a {
    cursor: pointer;
    color: $clr-blue;
    transition: color .2s ease;

    &:is(:hover, :focus) {
        color: $clr-mauve;
    }
}

.error-message {
    display: inline-block;
    font-size: 1.4rem;
    color: $clr-red;
    text-align: center;
}
