@use '../abstracts' as *;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: $ff-primary;
    font-weight: $fw-regular;
    font-style: $fs-regular;
    color: $clr-text-primary;
    overflow: auto;
}

h1 {
    font-size: 2.6rem;
    font-weight: $fw-bold;
    color: $clr-lavender;
    margin: 1rem 0 1.5rem 0;
    text-align: center;
}

p {
    font-size: 1.4rem;
    font-weight: $fw-regular;
}

span {
    font-size: 1.4rem;
}
